* {

    color: white;
    font-weight: 400;
    margin: 2;
    }
    
    body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(12, 134, 241);
        
    }
     .grid{
        background-color: rgba(0, 0, 0, 0.5);
        padding: 50px; 
        width: 500px;
        font-size: 15px;
        border-radius: 50px;
        line-height : 10px;
     }
     .titulo1{
        font-weight: 1000;
        position: relative;
        top: -50px;
        
     }
    
    .titulo2{
       font-weight: 1000;
       position: relative;
       top: 1px;
       
    }
     
     .titu{
        align-content: center;
        justify-content:center ;
        display: grid;
        width: 1024px; margin-left: -50%;
        position: relative;
        top: -120px;
        font-weight: 1000;
     }

    
    .boton1{
        padding: 30px; 
        width: 300px;
        font-size: 16px;
        border-radius: 50px;
        border-color: rgb(11, 12, 11); 
        background-color:rgba(37, 215, 209, 0.851); 
        box-shadow: 10px 10px 10px black;
        position: relative;
        top: -50px;
    }
    .boton2{
        padding: 30px; 
        width: 300px;
        font-size: 16px;
        border-radius: 50px;
        border-color: rgb(11, 12, 11); 
        background-color:rgba(37, 215, 209, 0.851); 
        box-shadow: 10px 10px 10px black;
    }
    

    
