*{
    color:rgb(248, 246, 246); 
    background-color:rgb(128, 128, 128); 
}

.boton{
        padding: 10px; 
        width: 300px;
        font-size: 16px;
        border-radius: 50px;
        border-color: rgb(11, 12, 11); 
        background-color:rgb(119, 113, 113); 
        float: left;
        box-shadow: 10px 5px 5px black;
}

